<tr id="form-row">
    <td colspan="12">
        <br>
        <form class="index-form">
            <label for="name">Name:</label>
            <select placeholder="Select Employee" class="custom-select" id="inputGroupEmployee">
            </select>
            <label for="deptSelect">Department:</label>
            <select class="custom-select" id="deptSelect" name="deptSelect">
                <option value="Engineering">Engineering</option>
                <option value="Manufacturing">Manufacturing</option>
                <option value="Program Management">Program Management</option>
            </select>
            <div style="display: flex; justify-content: center; align-tiems: center;">
                <button type="submit" class="btn btn-success" id="Search">Search</button>
            </div>
    </td>
</tr>
<tr>
    <th>Log#</th>
    <th>Name</th>
    <th>Date</th>
    <th>Category</th>
    <th>Task</th>
    <th>Time Spent</th>
    <th>Program</th>
    <th>ECR</th>
    <th>Notes</th>
</tr>