<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="header">Add Employee</h1>
  </div>
</div>

  <div class="container">
<form class="employeeEntry-form">
  <div class="form-group">
    <label for="empID">Employee ID:</label>
    <input type="text" id="empID" name="employee-id">
  </div>

  <div class="form-group">
    <label for="emp">Employee:</label>
    <input type="text" id="emp" name="employee">
  </div>

  <div class="form-group">
    <label for="dept">Department:</label>
    <input type="text" id="dept" name="dept">
  </div>

  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">
  </div>

  <div class="form-group">
    <label for="salary">Salary:</label>
    <input type="text" id="salary" name="salary">
  </div>

  <button class = "btn" type="submit">Add Entry</button>
</form>
</div>