<h2>Add Employee</h2>

<form class="employeeEntry-form">
  <div class="form-group">
    <label for="auth">Employee ID:</label>
    <input type="text" id="auth" name="employee-id">
  </div>

  <div class="form-group">
    <label for="auth">Name:</label>
    <input type="text" id="auth" name="name">
  </div>

  <div class="form-group">
    <label for="auth">Department:</label>
    <input type="text" id="auth" name="dept">
  </div>

  <div class="form-group">
    <label for="auth">Title:</label>
    <input type="text" id="auth" name="title">
  </div>

  <div class="form-group">
    <label for="auth">Salary:</label>
    <input type="text" id="auth" name="salary">
  </div>

  <button type="submit">Add Entry</button>
</form>