<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="header">Time Summary</h1>
    <h2 class="subheader">Project Management</h2>
  </div>
</div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Category</th>
            <th>Task</th>
            <th>Time Spent</th>
            <th>Program</th>
            <th>Notes</th>
            <th>Delete Entry</th>
          </tr>
        </thead>
        <tbody>
          <tr id="form-row">
            <form id="input-form">
              <td colspan="10">
                <label for="date">Date:</label>
                <input placeholder="Enter the date" id="date" type="date" />
                <br>
                <label for="category">Category:</label>
                <select placeholder="Enter the Category" class="custom-select" id="inputGroupCategory"
                  onload="categories()">
                </select>
                <br>
                <label for="task">Task:</label>
                <select placeholder="Enter a task" class="custom-select" id="inputGroupTask" onload="tasks()">
                </select>
                <br>
                <label for="time">Time:</label>
                <select placeholder="Enter time" class="custom-select" id="inputGroupTime" onload="times()">
                </select>
                <br>
                <br>
                <label for="program">Program:</label>
                <input placeholder="Enter a program" id="program" type="number" />
                <br>
                <label for="notes">Notes:</label>
                <input placeholder="notes" id="notes" type="text" />
                <br>
                <button type="submit" class="btn">Add Entry</button>
              </td>
            </form>
          </tr>
           <td>
              </td>
        </tbody>
      </table>
    </div>
  </div>
</div>