body {
  background: linear-gradient(to right, #0f253e, #3d4f62, #3d4f62, #5c6871,	#617084, #8794ac);
      margin: 0 auto;
      width: 70%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }
      @media (max-width: 500px) {
        p {
          font-size: 0.75em; 
        }
        .lead {
          font-size:0.75em;
        }
      }
      @media (orientation: landscape) {
    
      }
      @media(orientation: portrait) {
    
      }
      @media (min-width: 800px) {
        p { font-size: 1.5rem;
            line-height: 1.5;
        }
      }
h1 {
        color: #ebecee;
        font-size: 55px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        
      }
h2 {
        color: #ebecee;
        font-size: 40px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        
      }
h3 {
        color: #ebecee;
        font-size: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        
      }
label {
        color: #ebecee;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        
      }
p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        color: #ebecee;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    .btn{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: normal;
      font-size: 20px;
      border-radius: 20px;
     text-align: center;
     width: 30%;
     margin: 10px;
     padding: 10px;
     background-color: #a72b32;;
    }

li {
  padding: 5px;
  margin: 5px;
  background: #0c223f;
}

.label {
  font-weight: bold;
}

#employeeID li{
  list-style-type: none;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

